<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Books</h1>

<form th:object="${book}" th:action="@{save}" action="#" method="post">
<label for="author">Author: </label>
<input id="author" th:field="*{author}"/>
<br>
<label for="title">Title: </label>
<input id="title" th:field="*{title}"/>
<br>
<label for="isbn">ISBN: </label>
<input id="isbn" th:field="*{isbn}"/>
<br>
<label for="year">Year: </label>
<input id="year" th:field="*{year}"/>
<br>
<label for="catlist">Category: </label>
<select id="catlist" th:field="*{category}" th:value="*{category}">
	 <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}">
	</option>
	</select>
	<br>
<input type="submit" value="Save"/>
</form>


</body>
</html>